@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* 

font-family: 'League Spartan', sans-serif; 400 / 500 / 700

Colors

--#ffffff
--#511f50
--#f7f2f8
--#af578f

*/

/* Resetting the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 335px;
  margin: 90px auto;
  font-family: "League Spartan", sans-serif;
  overflow: hidden;
}

/* Background */
.background-top {
  position: absolute;
  top: -10%;
  left: -5%;
}
.background-bottom {
  display: none;
}

/* Header and text styles */
.header {
  font-size: 2.4rem;
  color: #511f50;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.text {
  color: #511f50a6;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

/* Ratings layout and style */
.rating-container {
  display: grid;
  width: 100%;
  gap: 20px;
}
.rating-item {
  background-color: #f7f2f8;
  width: 100%;
  border-radius: 10px;
  color: #511f50;
  font-weight: 700;
  padding: 15px 0;
}
.star {
  display: flex;
  gap: 3px;
  justify-content: center;
  padding-bottom: 10px;
}
.rating-text {
  text-align: center;
}

/* Client's review layout and style */
.clients-container {
  display: grid;
  margin-top: 40px;
  gap: 20px;
}
.client {
  color: white;
  background-color: #511f50;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 20px;
  padding: 20px 0;
}
.client-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-row: 1;
  grid-column: 1 / 2;
  justify-self: center;
}
.client-info {
  grid-row: 1;
  grid-column: 2 / 3;
  align-self: center;
}
.name {
  font-size: 1rem;
  font-weight: 700;
}
.client-type {
  color: #af578f;
}
.comment {
  grid-row: 2;
  grid-column: 1 / 3;
  width: 75%;
  justify-self: center;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  body {
    max-width: 1350px;
    margin: 50px auto;
  }
  .background-top {
    position: absolute;
    top: 0;
    left: 0;
  }
  .background-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    row-gap: 0;
    margin: 100px auto;
  }
  .text-container {
    margin: 0;
  }
  .header {
    font-size: 4rem;
    width: 70%;
    text-align: start;
  }
  .text {
    font-size: 1.6rem;
    text-align: start;
    width: 100%;
  }
  .rating-container {
    margin: 0 auto;
    gap: 10px;
    height: 50%;
    align-self: center;
  }
  .rating-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0;
    width: 80%;
    height: 50px;
  }
  .star {
    padding: 0;
    align-items: center;
  }
  .rating-text {
    justify-self: start;
  }
  .rating-item:nth-child(2) {
    justify-self: center;
  }
  .rating-item:nth-child(3) {
    justify-self: end;
  }
  .clients-container {
    grid-row: 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .client {
    width: 100%;
  }
  .comment {
    width: 65%;
  }
  .client:nth-child(2) {
    margin-top: 20px;
    height: 100%;
  }
  .client:nth-child(3) {
    margin-top: 40px;
    height: 100%;
  }
}
